

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大熊课堂校园管理系统</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
  <link rel="stylesheet" href="{% static 'css/sweetalert2.css' %}">
  <script src="{% static 'js/sweetalert2.js' %}" ></script>

</head>
<body>
<div class="wrapper">
  <div class="left">
      <div class="head">
        <a href="/students/">
          <h2>学生管理系统</h2>
        </a>
      </div>
      <div class="profile">
          欢迎 [ admin ]
          
            管理员
          
      </div>
      <div class="content">
          <ul>
            
              <li class="active"><span class="iconfont icon-fangzi"></span>
                <a href="/grades/" class="nav-link">班级管理</a>
              </li>
              <li class="active"><span class="iconfont icon-kapian"></span>
                <a href="/teachers/">老师管理</a>
              </li>
            
            
              <li><span class="iconfont icon-ren"></span>
                <a href="/students/">学生管理</a>
              </li>
              <li><span class="iconfont icon-shuben"></span>
                <a href="/scores/">成绩管理</a>
              </li>
            
            
              <li><span class="iconfont icon-bianji"></span>
                <a href="/change_password/">修改密码</a>
              </li>
              <li><span class="iconfont icon-shangchuan"></span>
                <a href="/logout/">退出登录</a>
              </li>
          </ul>
      </div>
  </div>

  
<div class="password-change" style="background-image: url({% static 'images/change-password.png'% })">
    <div class="password-change-form">
        <h2>修改密码</h2>
        <form id="changePasswordForm" method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <!-- 旧密码 -->
          <div class="form-group">
              <label for="old_password">当前密码:</label>
              <input type="password" id="old_password" name="old_password" required>
          </div>
          <!-- 新密码 -->
          <div class="form-group">
              <label for="new_password1">新密码:</label>
              <input type="password" id="new_password1" name="new_password1" required>
          </div>
          <!-- 确认新密码 -->
          <div class="form-group">
              <label for="new_password2">确认新密码:</label>
              <input type="password" id="new_password2" name="new_password2" required>
          </div>
          <button type="submit" >修改密码</button>
      </form>
    </div>
</div> 
<script>
    function showAlert(title, text) {
        Swal.fire({
            icon: 'error',
            title: title,
            text: text,
        });
    }
    function validateForm() {
        var currentPassword = document.getElementById('old_password').value;
        var newPassword = document.getElementById('new_password').value;
        var confirmPassword = document.getElementById('new_password2').value;
        if (currentPassword === '') {
            showAlert('Oops...', 'Original Password cannot be empty');
            return false
        }
        elif (newPassword === '') {
            showAlert('Oops...', 'New password cannot be empty');
            return false
        }
        elif (newPassword != confirmPassword) {
            showAlert('Oops...', 'Passwords are not matched');
            return false
        }
        return true
    }
    document.addEventListener('DOMContentLoaded', function(){
        const form = document.querySelector('form');
        console.log("debug line ...")
        form.addEventListener('submit', function(e) {
            e.preventDefault()
            if(!validateForm()) return;
            
            let formData = new FormData(form);
            fetch("{% url 'change_password' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                }
            }).then(response => response.json())
            .then(data => {
                if (data.status === 'success'){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: data.message,
                    }).then((result) => {
                        if (result.value) {
                          // refresh parent pages
                          window.parent.location.reload()
                        }
            
                      });

                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message,
                    });
                }
            })
        })
    })

</script>
</div>
</body>

</html>    